body {
  text-align: center;
  color: rgb(0, 133, 0);
  background-color: rgb(221, 255, 174);
}

.banner {
  margin-left: auto;
  margin-right: auto;
  padding: 0.4rem;
  background-color: #fdffd0;
}

#nav-menu {
  font-size: 20pt;
  z-index: 10;
  margin-top: 1%;
  margin-bottom: 1.1%;
}

#home {
  text-decoration: none;
  color: rgb(0, 133, 0);
  border-radius: 2rem;
  font-size: 20pt;
  padding: 1rem 2rem;
  margin-right: 5%;
}

#home:hover {
  color: white;
  background-color: rgb(0, 133, 0);
}

#about {
  text-decoration: none;
  color: rgb(0, 133, 0);
  border-radius: 2rem;
  font-size: 20pt;
  padding: 1rem 1.2rem;
  margin-right: 5%;
}

#about:hover {
  color: white;
  background-color: rgb(0, 133, 0);
}

#recipes {
  text-decoration: none;
  color: rgb(0, 133, 0);
  border-radius: 2rem;
  font-size: 20pt;
  padding: 1rem 0.9rem;
}

#recipes:hover {
  color: white;
  background-color: rgb(0, 133, 0);
}

.photo {
  width: 1200px;
  padding: 1rem 0.5rem;
}

h2 {
  top: 13%;
  left: 24%;
  font-size: 30pt;
  padding: 0.5rem;
}

h3 {
  font-size: 25pt;
}

.hover-overlay1 {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 75px;
  margin: 0.8rem;
  padding: 2rem;
  margin-bottom: 1.2rem;
  width: 12.5%;
}

.hover-overlay1:hover {
  opacity: 0.2;
  cursor: pointer;
}

.diet {
  color: rgb(0, 133, 0);
  position: absolute;
  font-size: 22pt;
  right: 61%;
  top: 73%;
  text-decoration: none;
}

.cuisines {
  color: rgb(0, 133, 0);
  position: absolute;
  font-size: 22pt;
  right: 48.2%;
  top: 73%;
  text-decoration: none;
}

.ingredients {
  color: rgb(0, 133, 0);
  position: absolute;
  font-size: 22pt;
  left: 60.8%;
  top: 73%;
  text-decoration: none;
}

.hover-overlay2 {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 25px;
}

.hover-overlay2:hover {
  opacity: 0.2;
  cursor: pointer;
}

#spacing {
  margin-top: 3.3%;
  margin-right: 5%;
}

#breakfast {
  position: absolute;
  color: rgb(0, 133, 0);
  text-decoration: none;
  font-size: 15pt;
  left: 31.7%;
  top: 90%;
}

#vegan {
  position: absolute;
  color: rgb(0, 133, 0);
  text-decoration: none;
  font-size: 15pt;
  left: 39.7%;
  top: 90%;
}

#lunch {
  position: absolute;
  color: rgb(0, 133, 0);
  text-decoration: none;
  font-size: 15pt;
  left: 47.6%;
  top: 90%;
}

#foreign {
  position: absolute;
  color: rgb(0, 133, 0);
  text-decoration: none;
  font-size: 15pt;
  left: 54.8%;
  top: 90%;
}

#dinner {
  position: absolute;
  color: rgb(0, 133, 0);
  text-decoration: none;
  font-size: 15pt;
  left: 62.5%;
  top: 90%;
}

@media only screen and (max-width: 1925px) {
  h1 {
    font-size: 28pt;
  }

  #home {
    text-decoration: none;
    color: rgb(0, 133, 0);
    border-radius: 2rem;
    font-size: 17pt;
    padding: 0.5rem 1rem;
  }

  #about {
    text-decoration: none;
    color: rgb(0, 133, 0);
    border-radius: 2rem;
    font-size: 17pt;
    padding: 0.5rem 0.9rem;
  }

  #recipes {
    text-decoration: none;
    color: rgb(0, 133, 0);
    border-radius: 2rem;
    font-size: 17pt;
    padding: 0.5rem 0.9rem;
  }

  h2 {
    font-size: 25pt;
  }

  .hover-overlay1 {
    width: 13.5%;
    padding: 2rem;
    margin-bottom: 1.2rem;
  }

  .diet {
    top: 86.3%;
    right: 61.6%;
  }

  .cuisines {
    right: 47.3%;
    top: 86.3%;
  }

  .ingredients {
    left: 61.3%;
    top: 86.3%;
  }

  #spacing {
    margin-top: 3.3%;
    margin-right: 5%;
  }

  #breakfast {
    left: 25.55%;
    top: 109%;
  }

  #vegan {
    font-size: 15pt;
    left: 36.6%;
    top: 109%;
  }

  #lunch {
    font-size: 15pt;
    left: 46.6%;
    top: 109%;
  }

  #foreign {
    font-size: 15pt;
    left: 56.4%;
    top: 109%;
  }

  #dinner {
    font-size: 15pt;
    left: 66.5%;
    top: 109%;
  }
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 25pt;
  }

  #home {
    font-size: 17pt;
    padding: 0.5rem 1rem;
  }

  #about {
    font-size: 17pt;
    padding: 0.5rem 0.9rem;
  }

  #recipes {
    font-size: 17pt;
    padding: 0.5rem 0.9rem;
  }

  .photo {
    width: 95%;
  }

  h2 {
    font-size: 20pt;
  }

  h3 {
    font-size: 15pt;
  }

  .hover-overlay1 {
    width: 27%;
    padding: 2rem;
    margin-bottom: 1.2rem;
  }

  .diet {
    top: 76.3%;
    right: 72.7%;
  }

  .cuisines {
    right: 44.5%;
    top: 76.3%;
  }

  .ingredients {
    left: 72.6%;
    top: 76.3%;
  }

  #spacing {
    margin-top: 3.3%;
    margin-right: 9%;
  }

  #search {
    margin-top: 2.5%;
  }

  .hover-overlay2 {
    border-radius: 20px;
  }

  #breakfast {
    left: 13.6%;
    top: 91%;
  }

  #vegan {
    font-size: 15pt;
    left: 29.6%;
    top: 91%;
  }

  #lunch {
    font-size: 15pt;
    left: 43.8%;
    top: 91%;
  }

  #foreign {
    font-size: 15pt;
    left: 57.1%;
    top: 91%;
  }

  #dinner {
    font-size: 15pt;
    left: 71.8%;
    top: 91%;
  }
}

@media only screen and (max-width: 500px) {
  /* body {
    background-color: orange;
    width: 100%;
  }

  #home {
    margin-left: 1%;
    font-size: 12pt;
  }

  #about {
    margin-right: 5%;
    font-size: 12pt;
  }

  #recipes {
    margin-right: 5%;
    font-size: 12pt;
  }

  .ingredients {
    font-size: 12pt;
  } */
}